@import "./reset.css";

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Thin.ttf);
  font-weight: 300;

  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;

  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

* {
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  width: 1280px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header__logo {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme__button {
  font-size: 15px;
  color: black;
}

.logo-color {
  color: rgba(75, 202, 255, 1);
}

.header__logo-link {
  font-size: 80px;
  color: black;
}

.header__nav {
  margin-top: 35px;
}

.nav__list {
  display: flex;
  justify-content: center;
  width: 1280px;
  background-color: rgba(53, 68, 79, 1);
}

.nav__item {
  border-left: 1px solid white;
}

.nav__item:last-child {
  border-right: 1px solid white;
}

.nav__item-button {
  padding: 17px 30px;
  background: rgba(53, 68, 79, 1);
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.nav__item-button:hover {
  background-color: rgba(34, 47, 58, 1);
  transition: 200ms;
}

.content__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}

.aside {
  width: 1280px;
  display: flex;
  justify-content: flex-start;
}

.menu__items {
  border: 1px solid black;
}

.menu__item-link {
  cursor: pointer;
  display: flex;
  justify-content: left;
  color: rgba(72, 88, 99, 1);
  background-color: white;
  padding: 15px 50px 15px 15px;
  width: 100%;
  border: none;
  font-size: 27px;
}

.menu__item-link:hover {
  color: rgba(0, 0, 0, 1);
  transition: 100ms ease-in-out;

  padding-left: 40px;
  padding-right: 25px;
  background: rgba(219, 219, 219, 1);
}

.poster__container {
  display: flex;
  justify-content: right;
}

.poster-wrapper {
  border: 1px solid black;
  width: 950px;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster {
  width: 600px;
  transition: 400ms ease-in-out;
}

.poster:hover {
  transform: scale(1.25);
}

.texts__container {
  display: flex;
  justify-content: center;
}

.main__texts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main__text {
  width: 950px;
  padding-top: 40px;
  line-height: 24px;
  font-size: 18px;
}

.footer__wrapper {
  width: 100%;
}

.footer {
  width: 1280px;
}

.navbar {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  width: 1280px;
  background-color: rgba(99, 105, 110, 0.48);
  font-size: 24px;
  padding: 17px 30px;
}

.navbar__list {
  display: flex;
}

.navbar__item {
  padding-right: 50px;
}

.navbar__item-link {
  color: rgba(12, 25, 39, 1);
  cursor: pointer;
  padding-bottom: 5px;
  transition: 100ms ease-in-out;
}

.navbar__item-link:hover {
  color: rgba(49, 129, 166, 1);
  border-bottom: 2px solid rgba(49, 129, 166, 1);
}

.theme__dark {
  background-color: rgba(12, 25, 39, 1);
  color: white;
}

.navbar__dark {
  color: white;
}
